<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Error</title>
	<link rel="stylesheet" href="../../public/site.css">
</head>
<body>
	<p class="error">{{error}}</p>
	<p>
		<a class="link" href="/">Try another palindrome</a>
	</p>
</body>
</html>