<div class="row">
	<div class="col-sm-12">
		<form id="static-form" method="post">
			<div class="form-group">
				<label for="input-text">Input Text</label>
				<textarea class="form-control" id="input-text" name="input-text" placeholder="Input Text">{{InputText}}</textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
			<div class="form-group hidden" id="result-container">
				<ol id="attempts">
				</ol>
			</div>
			<div class="form-group hidden" id="error-container">
				<div class="alert alert-danger text-goes-here">
				</div>
			</div>
		</form>
	</div>
</div>